*{
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #F5F5F5 !important;
}
.name{
    color: white;
    margin: 10px;
    font-size: 2em;
}
.name :hover{
    color: rgb(199, 231, 15);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .menu{
    display: none;
} */
.opt li{
    display: inline;
}
.opt a{
    text-decoration: none;
     color: white;
     margin: 2px;
}
.opt a:hover{
    color: rgb(199, 231, 15);
}
.background1{
    background-image: url(./bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    box-shadow: 1px 15px 15px rgb(138, 138, 141);
    
}
.slogan p{
    font-size: 50px; 
    line-height: 1em;
}
.slogan{
    color: white;
    margin-top: 150px;
    margin-left: 38px;
}
.slogan button{
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 12px;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slogan button:hover{
    background-color: rgb(231, 217, 15);;
}
.features{
    margin: 70px;
}
.slogan2{
    margin-left: 80px;
    
}
.slogan2 h1{
    font-size: 23px;
    font-weight: 600;
    margin-right: 80px;
}
.slogan2 p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.slogan2 a{
    height: 25px;
    background-color: black;
    text-decoration: none;
    display: inline-block;
    width: 235px;
    text-align: center;
    padding-top: 10px;
    color: white;
    border-radius: 5px;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white ;
    overflow: hidden;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white ;
    overflow: hidden;
    margin-top: 60px;
}
footer{
   display: flex;
   justify-content: space-between;
   background-color: white;
   max-width: 100%;
   padding: 15px;
}
footer ol{
    list-style: none;
}
footer li{
    margin-top: 15px;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    text-decoration: underline;
}
.fname{
    margin-top:15px ;
    font-size: 20px;
}
sup{
    font-size: 5px;
    margin: 0;
    padding: 0;
}
@media(max-width: 828px){
    .opt{
        display: none;
    }
    .menu{
        float: right;
        color: white;
        font-size: 2em;
    }
    .container1  img {
        display: none !important;
    }
    .container2  img {
        display: none !important;
    }
    .slogan2{
        margin: 25px 20px 30px;
    }
    .features{
        margin: 20px;
    }
}
@media (min-width:828px){
    .menu{
        display: none;
    }
}
/* @media (min-width:360px) and (max-width:828px){
    .opt{
        display: none;
    }
    .menu{
        float: right;
        color: white;
        font-size: 2em;
    }
    .container1  img {
        display: none !important;
    }
    .container2  img {
        display: none !important;
    }
    .slogan2{
        margin: 25px 20px 30px;
    }
    .features{
        padding: 0;
        margin: 30px;
    }
    .container1{
        max-width: 100%;
    }
} */

